@import "normalize";
@import "library/bourbon/bourbon";
@import "main-content";
@import "paper";
@import "nav";
@import "https://fonts.googleapis.com/css?family=Fjalla+One|Roboto|Roboto+Condensed";

body {
  background-color: #faf6f0;
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    margin-bottom: 5%;
  }
  h1 {
    @include transition();
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    letter-spacing: 6px;
    color: black;
    .title {
      font-family: "Fjalla One", sans-serif;
      font-size: 2.5em;
      text-transform: uppercase;
    }
  }
}

h1, h2 {
  margin: 0;
}
