// ************page**************
.paper {
  position: fixed;
  border: solid #434242;
}
.paper.edge-top {
    top: 0;
    right: 90px;
    left: 27px;
    height: 27px;
    border-width: 0 0 3px 0;
    z-index: 101;
    @include transition();
  }
  .paper.edge-right {
    top: 90px;
    right: 0;
    bottom: 27px;
    width: 27px;
    border-width: 0 0 0 3px;
    z-index: 102;
    @include transition();
  }
  .paper.edge-bottom {
    bottom: 0;
    right: 27px;
    left: 27px;
    height: 26px;
    border-width: 3px 0 0 0;
    z-index: 103;
    @include transition();
  }
  .paper.edge-left {
    top: 27px;
    left: 0;
    bottom: 27px;
    width: 27px;
    border-width: 0 3px 0 0;
    z-index: 104;
  }
  label {
    position: fixed;
      img {
        height: 66px;
        width: 66px;
      }
      top: 27px;
      right: 48px;
      width: 45px;
      height: 45px;
      border: none;

      background-size: 100% 100%;
      background-repeat: no-repeat;
      // white-space: nowrap;
      // overflow: hidden;
      cursor: pointer;
      z-index: 105;


  }
